In [1]:
import pandas as pd

ts_data = pd.read_parquet('../data/transformed/ts_data_2022_01.parquet')

ts_data.head(5)

          pickup_hour  rides  pickup_location_id
0 2022-01-01 00:00:00      0                   1
1 2022-01-01 01:00:00      0                   1
2 2022-01-01 02:00:00      0                   1
3 2022-01-01 03:00:00      0                   1
4 2022-01-01 04:00:00      1                   1

In [7]:
ts_data[ts_data.pickup_location_id==43]

            pickup_hour  rides  pickup_location_id
0   2022-01-01 00:00:00      0                   1
1   2022-01-01 01:00:00      0                   1
2   2022-01-01 02:00:00      0                   1
3   2022-01-01 03:00:00      0                   1
4   2022-01-01 04:00:00      1                   1
..                  ...    ...                 ...
739 2022-01-31 19:00:00      0                   1
740 2022-01-31 20:00:00      1                   1
741 2022-01-31 21:00:00      1                   1
742 2022-01-31 22:00:00      0                   1
743 2022-01-31 23:00:00      0                   1

[744 rows x 3 columns]

In [12]:
ts_data_one_location =  ts_data.loc[ts_data.pickup_location_id == 43,:].reset_index(drop = True)
ts_data_one_location.head(10)

          pickup_hour  rides  pickup_location_id
0 2022-01-01 00:00:00     97                  43
1 2022-01-01 01:00:00     60                  43
2 2022-01-01 02:00:00     22                  43
3 2022-01-01 03:00:00      8                  43
4 2022-01-01 04:00:00      6                  43
5 2022-01-01 05:00:00      5                  43
6 2022-01-01 06:00:00      3                  43
7 2022-01-01 07:00:00     10                  43
8 2022-01-01 08:00:00      7                  43
9 2022-01-01 09:00:00     19                  43

In [15]:
def get_cutoff_indices(data, n_features, step_size):
    stop_position = len(data) - 1

    #start the first sub-sequence at index position 0
    subseq_first_idx = 0
    subseq_mid_idx = n_features
    subseq_last_idx = n_features + 1
    indices = []

    while subseq_last_idx <= stop_position:
        indices.append((subseq_first_idx, subseq_mid_idx, subseq_last_idx))
        subseq_first_idx += step_size
        subseq_mid_idx += step_size
        subseq_last_idx += step_size

    return indices

In [16]:
n_features=  24
step_size = 1
indices =  get_cutoff_indices(
    ts_data_one_location,
    n_features,
    step_size)

indices

[(0, 24, 25),
 (1, 25, 26),
 (2, 26, 27),
 (3, 27, 28),
 (4, 28, 29),
 (5, 29, 30),
 (6, 30, 31),
 (7, 31, 32),
 (8, 32, 33),
 (9, 33, 34),
 (10, 34, 35),
 (11, 35, 36),
 (12, 36, 37),
 (13, 37, 38),
 (14, 38, 39),
 (15, 39, 40),
 (16, 40, 41),
 (17, 41, 42),
 (18, 42, 43),
 (19, 43, 44),
 (20, 44, 45),
 (21, 45, 46),
 (22, 46, 47),
 (23, 47, 48),
 (24, 48, 49),
 (25, 49, 50),
 (26, 50, 51),
 (27, 51, 52),
 (28, 52, 53),
 (29, 53, 54),
 (30, 54, 55),
 (31, 55, 56),
 (32, 56, 57),
 (33, 57, 58),
 (34, 58, 59),
 (35, 59, 60),
 (36, 60, 61),
 (37, 61, 62),
 (38, 62, 63),
 (39, 63, 64),
 (40, 64, 65),
 (41, 65, 66),
 (42, 66, 67),
 (43, 67, 68),
 (44, 68, 69),
 (45, 69, 70),
 (46, 70, 71),
 (47, 71, 72),
 (48, 72, 73),
 (49, 73, 74),
 (50, 74, 75),
 (51, 75, 76),
 (52, 76, 77),
 (53, 77, 78),
 (54, 78, 79),
 (55, 79, 80),
 (56, 80, 81),
 (57, 81, 82),
 (58, 82, 83),
 (59, 83, 84),
 (60, 84, 85),
 (61, 85, 86),
 (62, 86, 87),
 (63, 87, 88),
 (64, 88, 89),
 (65, 89, 90),
 (66, 90, 91),
 (67, 91, 92),
 (68, 92, 93),
 (69, 93, 94),
 (70, 94, 95),
 (71, 95, 96),
 (72, 96, 97),
 (73, 97, 98),
 (74, 98, 99),
 (75, 99, 100),
 (76, 100, 101),
 (77, 101, 102),
 (78, 102, 103),
 (79, 103, 104),
 (80, 104, 105),
 (81, 105, 106),
 (82, 106, 107),
 (83, 107, 108),
 (84, 108, 109),
 (85, 109, 110),
 (86, 110, 111),
 (87, 111, 112),
 (88, 112, 113),
 (89, 113, 114),
 (90, 114, 115),
 (91, 115, 116),
 (92, 116, 117),
 (93, 117, 118),
 (94, 118, 119),
 (95, 119, 120),
 (96, 120, 121),
 (97, 121, 122),
 (98, 122, 123),
 (99, 123, 124),
 (100, 124, 125),
 (101, 125, 126),
 (102, 126, 127),
 (103, 127, 128),
 (104, 128, 129),
 (105, 129, 130),
 (106, 130, 131),
 (107, 131, 132),
 (108, 132, 133),
 (109, 133, 134),
 (110, 134, 135),
 (111, 135, 136),
 (112, 136, 137),
 (113, 137, 138),
 (114, 138, 139),
 (115, 139, 140),
 (116, 140, 141),
 (117, 141, 142),
 (118, 142, 143),
 (119, 143, 144),
 (120, 144, 145),
 (121, 145, 146),
 (122, 146, 147),
 (123, 147, 148),
 (124, 148, 149),
 (125, 149, 150),
 (126, 150, 151),
 (127, 151, 152),
 (128, 152, 153),
 (129, 153, 154),
 (130, 154, 155),
 (131, 155, 156),
 (132, 156, 157),
 (133, 157, 158),
 (134, 158, 159),
 (135, 159, 160),
 (136, 160, 161),
 (137, 161, 162),
 (138, 162, 163),
 (139, 163, 164),
 (140, 164, 165),
 (141, 165, 166),
 (142, 166, 167),
 (143, 167, 168),
 (144, 168, 169),
 (145, 169, 170),
 (146, 170, 171),
 (147, 171, 172),
 (148, 172, 173),
 (149, 173, 174),
 (150, 174, 175),
 (151, 175, 176),
 (152, 176, 177),
 (153, 177, 178),
 (154, 178, 179),
 (155, 179, 180),
 (156, 180, 181),
 (157, 181, 182),
 (158, 182, 183),
 (159, 183, 184),
 (160, 184, 185),
 (161, 185, 186),
 (162, 186, 187),
 (163, 187, 188),
 (164, 188, 189),
 (165, 189, 190),
 (166, 190, 191),
 (167, 191, 192),
 (168, 192, 193),
 (169, 193, 194),
 (170, 194, 195),
 (171, 195, 196),
 (172, 196, 197),
 (173, 197, 198),
 (174, 198, 199),
 (175, 199, 200),
 (176, 200, 201),
 (177, 201, 202),
 (178, 202, 203),
 (179, 203, 204),
 (180, 204, 205),
 (181, 205, 206),
 (182, 206, 207),
 (183, 207, 208),
 (184, 208, 209),
 (185, 209, 210),
 (186, 210, 211),
 (187, 211, 212),
 (188, 212, 213),
 (189, 213, 214),
 (190, 214, 215),
 (191, 215, 216),
 (192, 216, 217),
 (193, 217, 218),
 (194, 218, 219),
 (195, 219, 220),
 (196, 220, 221),
 (197, 221, 222),
 (198, 222, 223),
 (199, 223, 224),
 (200, 224, 225),
 (201, 225, 226),
 (202, 226, 227),
 (203, 227, 228),
 (204, 228, 229),
 (205, 229, 230),
 (206, 230, 231),
 (207, 231, 232),
 (208, 232, 233),
 (209, 233, 234),
 (210, 234, 235),
 (211, 235, 236),
 (212, 236, 237),
 (213, 237, 238),
 (214, 238, 239),
 (215, 239, 240),
 (216, 240, 241),
 (217, 241, 242),
 (218, 242, 243),
 (219, 243, 244),
 (220, 244, 245),
 (221, 245, 246),
 (222, 246, 247),
 (223, 247, 248),
 (224, 248, 249),
 (225, 249, 250),
 (226, 250, 251),
 (227, 251, 252),
 (228, 252, 253),
 (229, 253, 254),
 (230, 254, 255),
 (231, 255, 256),
 (232, 256, 257),
 (233, 257, 258),
 (234, 258, 259),
 (235, 259, 260),
 (236, 260, 261),
 (237, 261, 262),
 (238, 262, 263),
 (239, 263, 264),
 (240, 264, 265),
 (241, 265, 266),
 (242, 266, 267),
 (243, 267, 268),
 (244, 268, 269),
 (245, 269, 270),
 (246, 270, 271),
 (247, 271, 272),
 (248, 272, 273),
 (249, 273, 274),
 (250, 274, 275),
 (251, 275, 276),
 (252, 276, 277),
 (253, 277, 278),
 (254, 278, 279),
 (255, 279, 280),
 (256, 280, 281),
 (257, 281, 282),
 (258, 282, 283),
 (259, 283, 284),
 (260, 284, 285),
 (261, 285, 286),
 (262, 286, 287),
 (263, 287, 288),
 (264, 288, 289),
 (265, 289, 290),
 (266, 290, 291),
 (267, 291, 292),
 (268, 292, 293),
 (269, 293, 294),
 (270, 294, 295),
 (271, 295, 296),
 (272, 296, 297),
 (273, 297, 298),
 (274, 298, 299),
 (275, 299, 300),
 (276, 300, 301),
 (277, 301, 302),
 (278, 302, 303),
 (279, 303, 304),
 (280, 304, 305),
 (281, 305, 306),
 (282, 306, 307),
 (283, 307, 308),
 (284, 308, 309),
 (285, 309, 310),
 (286, 310, 311),
 (287, 311, 312),
 (288, 312, 313),
 (289, 313, 314),
 (290, 314, 315),
 (291, 315, 316),
 (292, 316, 317),
 (293, 317, 318),
 (294, 318, 319),
 (295, 319, 320),
 (296, 320, 321),
 (297, 321, 322),
 (298, 322, 323),
 (299, 323, 324),
 (300, 324, 325),
 (301, 325, 326),
 (302, 326, 327),
 (303, 327, 328),
 (304, 328, 329),
 (305, 329, 330),
 (306, 330, 331),
 (307, 331, 332),
 (308, 332, 333),
 (309, 333, 334),
 (310, 334, 335),
 (311, 335, 336),
 (312, 336, 337),
 (313, 337, 338),
 (314, 338, 339),
 (315, 339, 340),
 (316, 340, 341),
 (317, 341, 342),
 (318, 342, 343),
 (319, 343, 344),
 (320, 344, 345),
 (321, 345, 346),
 (322, 346, 347),
 (323, 347, 348),
 (324, 348, 349),
 (325, 349, 350),
 (326, 350, 351),
 (327, 351, 352),
 (328, 352, 353),
 (329, 353, 354),
 (330, 354, 355),
 (331, 355, 356),
 (332, 356, 357),
 (333, 357, 358),
 (334, 358, 359),
 (335, 359, 360),
 (336, 360, 361),
 (337, 361, 362),
 (338, 362, 363),
 (339, 363, 364),
 (340, 364, 365),
 (341, 365, 366),
 (342, 366, 367),
 (343, 367, 368),
 (344, 368, 369),
 (345, 369, 370),
 (346, 370, 371),
 (347, 371, 372),
 (348, 372, 373),
 (349, 373, 374),
 (350, 374, 375),
 (351, 375, 376),
 (352, 376, 377),
 (353, 377, 378),
 (354, 378, 379),
 (355, 379, 380),
 (356, 380, 381),
 (357, 381, 382),
 (358, 382, 383),
 (359, 383, 384),
 (360, 384, 385),
 (361, 385, 386),
 (362, 386, 387),
 (363, 387, 388),
 (364, 388, 389),
 (365, 389, 390),
 (366, 390, 391),
 (367, 391, 392),
 (368, 392, 393),
 (369, 393, 394),
 (370, 394, 395),
 (371, 395, 396),
 (372, 396, 397),
 (373, 397, 398),
 (374, 398, 399),
 (375, 399, 400),
 (376, 400, 401),
 (377, 401, 402),
 (378, 402, 403),
 (379, 403, 404),
 (380, 404, 405),
 (381, 405, 406),
 (382, 406, 407),
 (383, 407, 408),
 (384, 408, 409),
 (385, 409, 410),
 (386, 410, 411),
 (387, 411, 412),
 (388, 412, 413),
 (389, 413, 414),
 (390, 414, 415),
 (391, 415, 416),
 (392, 416, 417),
 (393, 417, 418),
 (394, 418, 419),
 (395, 419, 420),
 (396, 420, 421),
 (397, 421, 422),
 (398, 422, 423),
 (399, 423, 424),
 (400, 424, 425),
 (401, 425, 426),
 (402, 426, 427),
 (403, 427, 428),
 (404, 428, 429),
 (405, 429, 430),
 (406, 430, 431),
 (407, 431, 432),
 (408, 432, 433),
 (409, 433, 434),
 (410, 434, 435),
 (411, 435, 436),
 (412, 436, 437),
 (413, 437, 438),
 (414, 438, 439),
 (415, 439, 440),
 (416, 440, 441),
 (417, 441, 442),
 (418, 442, 443),
 (419, 443, 444),
 (420, 444, 445),
 (421, 445, 446),
 (422, 446, 447),
 (423, 447, 448),
 (424, 448, 449),
 (425, 449, 450),
 (426, 450, 451),
 (427, 451, 452),
 (428, 452, 453),
 (429, 453, 454),
 (430, 454, 455),
 (431, 455, 456),
 (432, 456, 457),
 (433, 457, 458),
 (434, 458, 459),
 (435, 459, 460),
 (436, 460, 461),
 (437, 461, 462),
 (438, 462, 463),
 (439, 463, 464),
 (440, 464, 465),
 (441, 465, 466),
 (442, 466, 467),
 (443, 467, 468),
 (444, 468, 469),
 (445, 469, 470),
 (446, 470, 471),
 (447, 471, 472),
 (448, 472, 473),
 (449, 473, 474),
 (450, 474, 475),
 (451, 475, 476),
 (452, 476, 477),
 (453, 477, 478),
 (454, 478, 479),
 (455, 479, 480),
 (456, 480, 481),
 (457, 481, 482),
 (458, 482, 483),
 (459, 483, 484),
 (460, 484, 485),
 (461, 485, 486),
 (462, 486, 487),
 (463, 487, 488),
 (464, 488, 489),
 (465, 489, 490),
 (466, 490, 491),
 (467, 491, 492),
 (468, 492, 493),
 (469, 493, 494),
 (470, 494, 495),
 (471, 495, 496),
 (472, 496, 497),
 (473, 497, 498),
 (474, 498, 499),
 (475, 499, 500),
 (476, 500, 501),
 (477, 501, 502),
 (478, 502, 503),
 (479, 503, 504),
 (480, 504, 505),
 (481, 505, 506),
 (482, 506, 507),
 (483, 507, 508),
 (484, 508, 509),
 (485, 509, 510),
 (486, 510, 511),
 (487, 511, 512),
 (488, 512, 513),
 (489, 513, 514),
 (490, 514, 515),
 (491, 515, 516),
 (492, 516, 517),
 (493, 517, 518),
 (494, 518, 519),
 (495, 519, 520),
 (496, 520, 521),
 (497, 521, 522),
 (498, 522, 523),
 (499, 523, 524),
 (500, 524, 525),
 (501, 525, 526),
 (502, 526, 527),
 (503, 527, 528),
 (504, 528, 529),
 (505, 529, 530),
 (506, 530, 531),
 (507, 531, 532),
 (508, 532, 533),
 (509, 533, 534),
 (510, 534, 535),
 (511, 535, 536),
 (512, 536, 537),
 (513, 537, 538),
 (514, 538, 539),
 (515, 539, 540),
 (516, 540, 541),
 (517, 541, 542),
 (518, 542, 543),
 (519, 543, 544),
 (520, 544, 545),
 (521, 545, 546),
 (522, 546, 547),
 (523, 547, 548),
 (524, 548, 549),
 (525, 549, 550),
 (526, 550, 551),
 (527, 551, 552),
 (528, 552, 553),
 (529, 553, 554),
 (530, 554, 555),
 (531, 555, 556),
 (532, 556, 557),
 (533, 557, 558),
 (534, 558, 559),
 (535, 559, 560),
 (536, 560, 561),
 (537, 561, 562),
 (538, 562, 563),
 (539, 563, 564),
 (540, 564, 565),
 (541, 565, 566),
 (542, 566, 567),
 (543, 567, 568),
 (544, 568, 569),
 (545, 569, 570),
 (546, 570, 571),
 (547, 571, 572),
 (548, 572, 573),
 (549, 573, 574),
 (550, 574, 575),
 (551, 575, 576),
 (552, 576, 577),
 (553, 577, 578),
 (554, 578, 579),
 (555, 579, 580),
 (556, 580, 581),
 (557, 581, 582),
 (558, 582, 583),
 (559, 583, 584),
 (560, 584, 585),
 (561, 585, 586),
 (562, 586, 587),
 (563, 587, 588),
 (564, 588, 589),
 (565, 589, 590),
 (566, 590, 591),
 (567, 591, 592),
 (568, 592, 593),
 (569, 593, 594),
 (570, 594, 595),
 (571, 595, 596),
 (572, 596, 597),
 (573, 597, 598),
 (574, 598, 599),
 (575, 599, 600),
 (576, 600, 601),
 (577, 601, 602),
 (578, 602, 603),
 (579, 603, 604),
 (580, 604, 605),
 (581, 605, 606),
 (582, 606, 607),
 (583, 607, 608),
 (584, 608, 609),
 (585, 609, 610),
 (586, 610, 611),
 (587, 611, 612),
 (588, 612, 613),
 (589, 613, 614),
 (590, 614, 615),
 (591, 615, 616),
 (592, 616, 617),
 (593, 617, 618),
 (594, 618, 619),
 (595, 619, 620),
 (596, 620, 621),
 (597, 621, 622),
 (598, 622, 623),
 (599, 623, 624),
 (600, 624, 625),
 (601, 625, 626),
 (602, 626, 627),
 (603, 627, 628),
 (604, 628, 629),
 (605, 629, 630),
 (606, 630, 631),
 (607, 631, 632),
 (608, 632, 633),
 (609, 633, 634),
 (610, 634, 635),
 (611, 635, 636),
 (612, 636, 637),
 (613, 637, 638),
 (614, 638, 639),
 (615, 639, 640),
 (616, 640, 641),
 (617, 641, 642),
 (618, 642, 643),
 (619, 643, 644),
 (620, 644, 645),
 (621, 645, 646),
 (622, 646, 647),
 (623, 647, 648),
 (624, 648, 649),
 (625, 649, 650),
 (626, 650, 651),
 (627, 651, 652),
 (628, 652, 653),
 (629, 653, 654),
 (630, 654, 655),
 (631, 655, 656),
 (632, 656, 657),
 (633, 657, 658),
 (634, 658, 659),
 (635, 659, 660),
 (636, 660, 661),
 (637, 661, 662),
 (638, 662, 663),
 (639, 663, 664),
 (640, 664, 665),
 (641, 665, 666),
 (642, 666, 667),
 (643, 667, 668),
 (644, 668, 669),
 (645, 669, 670),
 (646, 670, 671),
 (647, 671, 672),
 (648, 672, 673),
 (649, 673, 674),
 (650, 674, 675),
 (651, 675, 676),
 (652, 676, 677),
 (653, 677, 678),
 (654, 678, 679),
 (655, 679, 680),
 (656, 680, 681),
 (657, 681, 682),
 (658, 682, 683),
 (659, 683, 684),
 (660, 684, 685),
 (661, 685, 686),
 (662, 686, 687),
 (663, 687, 688),
 (664, 688, 689),
 (665, 689, 690),
 (666, 690, 691),
 (667, 691, 692),
 (668, 692, 693),
 (669, 693, 694),
 (670, 694, 695),
 (671, 695, 696),
 (672, 696, 697),
 (673, 697, 698),
 (674, 698, 699),
 (675, 699, 700),
 (676, 700, 701),
 (677, 701, 702),
 (678, 702, 703),
 (679, 703, 704),
 (680, 704, 705),
 (681, 705, 706),
 (682, 706, 707),
 (683, 707, 708),
 (684, 708, 709),
 (685, 709, 710),
 (686, 710, 711),
 (687, 711, 712),
 (688, 712, 713),
 (689, 713, 714),
 (690, 714, 715),
 (691, 715, 716),
 (692, 716, 717),
 (693, 717, 718),
 (694, 718, 719),
 (695, 719, 720),
 (696, 720, 721),
 (697, 721, 722),
 (698, 722, 723),
 (699, 723, 724),
 (700, 724, 725),
 (701, 725, 726),
 (702, 726, 727),
 (703, 727, 728),
 (704, 728, 729),
 (705, 729, 730),
 (706, 730, 731),
 (707, 731, 732),
 (708, 732, 733),
 (709, 733, 734),
 (710, 734, 735),
 (711, 735, 736),
 (712, 736, 737),
 (713, 737, 738),
 (714, 738, 739),
 (715, 739, 740),
 (716, 740, 741),
 (717, 741, 742),
 (718, 742, 743)]

In [20]:
import numpy as np

n_examples = len(indices)
x = np.ndarray(shape = (n_examples,n_features), dtype = np.float32)
y = np.ndarray(shape = (n_examples), dtype = np.float32)

pickup_hours = []

for i, idx in enumerate(indices):
    x[i,:] = ts_data_one_location.iloc[idx[0]:idx[1]]['rides'].values
    y[i] = ts_data_one_location.iloc[idx[1]:idx[2]]['rides'].values
    pickup_hours.append(ts_data_one_location.iloc[idx[1]]['pickup_hour'])

In [21]:
print(f'{x.shape=}')
print(f'{x=}')
print(f'{pickup_hours[:5]=}')

x.shape=(719, 24)
x=array([[ 97.,  60.,  22., ...,  16.,  18.,   6.],
       [ 60.,  22.,   8., ...,  18.,   6.,   3.],
       [ 22.,   8.,   6., ...,   6.,   3.,   1.],
       ...,
       [ 28.,  16.,  13., ..., 102.,  66.,  61.],
       [ 16.,  13.,   8., ...,  66.,  61.,  73.],
       [ 13.,   8.,   1., ...,  61.,  73.,  33.]], dtype=float32)
pickup_hours[:5]=[Timestamp('2022-01-02 00:00:00'), Timestamp('2022-01-02 01:00:00'), Timestamp('2022-01-02 02:00:00'), Timestamp('2022-01-02 03:00:00'), Timestamp('2022-01-02 04:00:00')]

In [25]:
features_one_location = pd.DataFrame(
    x, 
    columns=[f'rides_previous_{i+1}_hour' for i in reversed(range(n_features))]
)
features_one_location

,rides_previous_24_hour,rides_previous_23_hour,rides_previous_22_hour,rides_previous_21_hour,rides_previous_20_hour,rides_previous_19_hour,rides_previous_18_hour,rides_previous_17_hour,rides_previous_16_hour,rides_previous_15_hour,...,rides_previous_10_hour,rides_previous_9_hour,rides_previous_8_hour,rides_previous_7_hour,rides_previous_6_hour,rides_previous_5_hour,rides_previous_4_hour,rides_previous_3_hour,rides_previous_2_hour,rides_previous_1_hour
0,97.0,60.0,22.0,8.0,6.0,5.0,3.0,10.0,7.0,19.0,...,70.0,94.0,87.0,73.0,34.0,32.0,22.0,16.0,18.0,6.0
1,60.0,22.0,8.0,6.0,5.0,3.0,10.0,7.0,19.0,24.0,...,94.0,87.0,73.0,34.0,32.0,22.0,16.0,18.0,6.0,3.0
2,22.0,8.0,6.0,5.0,3.0,10.0,7.0,19.0,24.0,39.0,...,87.0,73.0,34.0,32.0,22.0,16.0,18.0,6.0,3.0,1.0
3,8.0,6.0,5.0,3.0,10.0,7.0,19.0,24.0,39.0,35.0,...,73.0,34.0,32.0,22.0,16.0,18.0,6.0,3.0,1.0,1.0
4,6.0,5.0,3.0,10.0,7.0,19.0,24.0,39.0,35.0,77.0,...,34.0,32.0,22.0,16.0,18.0,6.0,3.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,52.0,36.0,28.0,16.0,13.0,8.0,1.0,1.0,2.0,1.0,...,78.0,74.0,66.0,91.0,117.0,100.0,106.0,147.0,121.0,102.0
715,36.0,28.0,16.0,13.0,8.0,1.0,1.0,2.0,1.0,1.0,...,74.0,66.0,91.0,117.0,100.0,106.0,147.0,121.0,102.0,66.0
716,28.0,16.0,13.0,8.0,1.0,1.0,2.0,1.0,1.0,4.0,...,66.0,91.0,117.0,100.0,106.0,147.0,121.0,102.0,66.0,61.0
717,16.0,13.0,8.0,1.0,1.0,2.0,1.0,1.0,4.0,9.0,...,91.0,117.0,100.0,106.0,147.0,121.0,102.0,66.0,61.0,73.0
718,13.0,8.0,1.0,1.0,2.0,1.0,1.0,4.0,9.0,53.0,...,117.0,100.0,106.0,147.0,121.0,102.0,66.0,61.0,73.0,33.0

In [26]:
targets_one_location = pd.DataFrame(
    y, 
    columns=[f'target_rides_next_hour']
)
targets_one_location

     target_rides_next_hour
0                       3.0
1                       1.0
2                       1.0
3                       0.0
4                       0.0
..                      ...
714                    66.0
715                    61.0
716                    73.0
717                    33.0
718                    21.0

[719 rows x 1 columns]

In [35]:
from tqdm import tqdm

def transforme_ts_data_into_features_and_targets( ts_data, input_seq_len, step_size):
    assert set(ts_data.columns) =={'pickup_hour', 'rides', 'pickup_location_id'}

    location_ids = ts_data['pickup_location_id'].unique()
    features = pd.DataFrame()
    targets =  pd.DataFrame()

    for location_id in tqdm(location_ids):
        #keep only the time series data for this location
        ts_data_one_location = ts_data.loc[ts_data.pickup_location_id == location_id, ['pickup_hour','rides']]

        #precompute cutoff indices tosplit dataframe row
        indices = get_cutoff_indices(
            ts_data_one_location, input_seq_len, step_size
        )

        #slice and transpose data into numpy arrays for features and targets
        n_examples =  len(indices)
        x = np.ndarray(shape = (n_examples, input_seq_len), dtype = np.float32)
        y = np.ndarray(shape = (n_examples), dtype = np.float32)
        pickup_hours = []

        for i, idx in enumerate(indices):
            x[i,:] = ts_data_one_location.iloc[idx[0]:idx[1]]['rides'].values
            y[i] = ts_data_one_location.iloc[idx[1]:idx[2]]['rides'].values
            pickup_hours.append(ts_data_one_location.iloc[idx[1]]['pickup_hour'])

        features_one_location = pd.DataFrame(
            x, 
            columns=[f'rides_previous_{i+1}_hour' for i in reversed(range(input_seq_len))]
        )
        features_one_location['pickup_hour'] =  pickup_hours
        features_one_location['pickup_location_id'] = location_id

        targets_one_location = pd.DataFrame(y,  columns=[f'target_rides_next_hour'])


        features = pd.concat([features, features_one_location])
        targets = pd.concat([targets, targets_one_location])

    features.reset_index(inplace = True, drop = True)
    targets.reset_index(inplace = True, drop = True)

    return features, targets['target_rides_next_hour']

In [37]:
features, targets = transforme_ts_data_into_features_and_targets(
    ts_data, 24*7*1, 24
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 257/257 [00:03<00:00, 65.74it/s]

features.shape=(6168, 170)
targets.shape=(6168,)