In [8]:
%reload_ext autoreload
%autoreload 2

In [7]:
import sys
sys.path.insert(0, '../src')

print(sys.path)
from data import load_raw_data

rides =  load_raw_data(year =  2022)
rides

['../src', '../src', '../src', '../src', '../src', '/Users/rajesh/taxi_demand_predictor_1/notebooks', '/Library/Frameworks/Python.framework/Versions/3.11/lib/python311.zip', '/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11', '/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/lib-dynload', '', '/Users/rajesh/Library/Python/3.11/lib/python/site-packages', '/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages']
File 2022-01 was already in local storage
Trying Downloading file 2022-02
downloading file from https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-02.parquet
Trying Downloading file 2022-03
downloading file from https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-03.parquet
Trying Downloading file 2022-04
downloading file from https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-04.parquet
Trying Downloading file 2022-05
downloading file from https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-05.parquet
Trying Downloading file 2022-06
downloading file from https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-06.parquet
Trying Downloading file 2022-07
downloading file from https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-07.parquet
Trying Downloading file 2022-08
downloading file from https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-08.parquet
Trying Downloading file 2022-09
downloading file from https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-09.parquet
Trying Downloading file 2022-10
downloading file from https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-10.parquet
Trying Downloading file 2022-11
downloading file from https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-11.parquet
2022-11 file is not available
Trying Downloading file 2022-12
downloading file from https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-12.parquet
2022-12 file is not available

            pickup_datetime  pickup_location_id
0       2022-01-01 00:35:40                 142
1       2022-01-01 00:33:43                 236
2       2022-01-01 00:53:21                 166
3       2022-01-01 00:25:21                 114
4       2022-01-01 00:36:48                  68
...                     ...                 ...
3675406 2022-10-31 23:56:35                 137
3675407 2022-10-31 23:22:00                 142
3675408 2022-10-31 23:25:00                 186
3675409 2022-10-31 23:32:54                 264
3675410 2022-10-31 23:21:34                 166

[33002511 rows x 2 columns]

In [10]:
from data import  transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 265/265 [00:06<00:00, 39.70it/s]

                pickup_hour  rides  pickup_location_id
0       2022-01-01 00:00:00      0                   1
1       2022-01-01 01:00:00      0                   1
2       2022-01-01 02:00:00      0                   1
3       2022-01-01 03:00:00      0                   1
4       2022-01-01 04:00:00      1                   1
...                     ...    ...                 ...
1933435 2022-10-31 19:00:00      2                 265
1933436 2022-10-31 20:00:00     10                 265
1933437 2022-10-31 21:00:00      6                 265
1933438 2022-10-31 22:00:00      8                 265
1933439 2022-10-31 23:00:00      4                 265

[1933440 rows x 3 columns]

In [11]:
from data import transform_ts_data_into_features_and_target

features, targets =  transform_ts_data_into_features_and_target(
    ts_data, 
    input_seq_len = 24*28*1, 
    step_size = 24
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 265/265 [00:52<00:00,  5.07it/s]

features.shape=(73140, 674)
targets.shape=(73140,)

In [13]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from paths import TRANSFORMED_DATA_DIR

tabular_data.to_parquet(TRANSFORMED_DATA_DIR/'tabular_data.parquet')